{% extends "job_board/base.html" %}

{% block content %}

<h1>{{ job.title }}</h1>

<h2>Short Description:</h2>
<p>{{ job.short_description|default:"No description provided." }}</p>

<p><strong>Long Description:</strong>{{ job.long_description|default:"No description provided." }}</p>

<p><strong>Employer:</strong> {{ job.employer }}</p>
<p><strong>Location:</strong> {{ job.location }}</p>
<p><strong>Job Type:</strong> {{ job.get_job_type_display }}</p>

{% if job.salary %}
    <p><strong>Salary:</strong> {{ job.salary }}€</p>
{% endif %}

<p><strong>Posted On:</strong> {{ job.date_posted|date:"F j, Y" }}</p>

{% if job.application_deadline %}
    <p><strong>Application Deadline:</strong> {{ job.application_deadline|date:"F j, Y" }}</p>
{% endif %}

<h2>Qualifications:</h2>
<p>{{ job.qualifications|default:"No qualifications provided." }}</p>

{% endblock content %}
