{% extends "job_board/base.html" %}

{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">Register as an Employee or Employer:</h2>
    
    <ul class="list-group">
        <li class="list-group-item">
            <a href="http://127.0.0.1:8000/users/employee-registration" class="btn btn-primary">Register as Employee</a>
        </li>
        <li class="list-group-item">
            <a href="http://127.0.0.1:8000/users/employer-registration" class="btn btn-success">Register as Employer</a>
        </li>
    </ul>
</div>

{% endblock content %}
